In [175]:
import numpy as np
from numpy import *
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from urllib.parse import urlparse

In [176]:
url = 'https://drive.google.com/file/d/1LBDnhITL0Wqwp5G6M6IBI-SSz8BIoNec/view'

In [177]:
parts = urlparse(url)
parts

ParseResult(scheme='https', netloc='drive.google.com', path='/file/d/1LBDnhITL0Wqwp5G6M6IBI-SSz8BIoNec/view', params='', query='', fragment='')

In [178]:
url = 'https://drive.google.com/file/d/1LBDnhITL0Wqwp5G6M6IBI-SSz8BIoNec/view'
url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
dataset = pd.read_csv(url)

In [179]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [180]:
dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [181]:
dataset.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [182]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [183]:
#dataset = dataset.loc[~(dataset['Insulin']==0)]

In [184]:
#dataset = dataset.loc[~((dataset['SkinThickness']==0) | (dataset['BMI']==0))]

In [185]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [186]:
# инициализируем X без столбца (data feature) 
X = dataset.iloc[:,[3,5]].values

In [187]:
# инициализируем Y как целевую функцию
y = dataset.iloc[:,4].values

In [188]:
X.shape

(768, 2)

In [189]:
y.shape

(768,)

In [190]:
# разделение данных на train и test
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=1/3, random_state=0)

In [191]:
# Линейная регрессия
from sklearn.linear_model import LinearRegression
linear_regression = LinearRegression() 

# обучение
linear_regression.fit(train_X, train_y)

# вывод точности предсказания
print(linear_regression.score(test_X, test_y))

0.16413917683319246

In [192]:
# LASSO регрессия
from sklearn.linear_model import Lasso
lasso_regression = Lasso(alpha=0.1) # alpha — величина регуляризации

# обучение
lasso_regression.fit(train_X, train_y)

# вывод точности предсказания
print(lasso_regression.score(test_X, test_y))
print(lasso_regression.score(train_X, train_y))

0.16413946418457004
0.1923716552045226

In [193]:
# Ridge регрессия
from sklearn.linear_model import Ridge
ridge_regression = Ridge(alpha=0.1) # alpha — величина регуляризации

# обучение
ridge_regression.fit(train_X, train_y)

# вывод точности предсказания
print(ridge_regression.score(test_X, test_y))
print(ridge_regression.score(train_X, train_y))

0.164139218172352
0.19237166603231504

In [194]:
# ElasticNet регрессия
from sklearn.linear_model import ElasticNet

elasticnet_regression = ElasticNet(alpha=0.1) # alpha — величина регуляризации

# обучение
elasticnet_regression.fit(train_X, train_y)

# вывод точности предсказания
print(elasticnet_regression.score(test_X, test_y))
print(elasticnet_regression.score(train_X, train_y))

0.16414943681433536
0.19237165432519654

In [195]:
# Polynom регрессия 2
from sklearn.preprocessing import PolynomialFeatures  
poly_regression= PolynomialFeatures(degree= 2)  
x_poly= poly_regression.fit_transform(train_X)  

lin_reg =LinearRegression()  
lin_reg.fit(x_poly, train_y)  

print(lin_reg.score(x_poly, train_y))

0.22894908936367853

In [196]:
# Polynom регрессия 5 
poly_regression1= PolynomialFeatures(degree= 5)  
x_poly1= poly_regression1.fit_transform(train_X)  

lin_reg1 =LinearRegression()  
lin_reg1.fit(x_poly1, train_y)  

print(lin_reg1.score(x_poly1, train_y))

0.28482147742881325

In [197]:
# Polynom регрессия 10
poly_regression2= PolynomialFeatures(degree= 10)  
x_poly2= poly_regression2.fit_transform(train_X)  

lin_reg2 =LinearRegression()  
lin_reg2.fit(x_poly2, train_y)  

print(lin_reg2.score(x_poly2, train_y))

0.3153639820011708