In [13]:
# импортируем библиотеки
import pandas as pd
import pydotplus
from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeClassifier
import numpy as np

In [14]:
# определяем data features
data = pd.DataFrame({'P_Movies': [17,64,18,20,38,49,55,25,29,31,33,45], 
                     'salary': [110,120,90,85,45,90,91,78,34,110,85,86]})
data

    P_Movies  salary
0         17     110
1         64     120
2         18      90
3         20      85
4         38      45
5         49      90
6         55      91
7         25      78
8         29      34
9         31     110
10        33      85
11        45      86

In [15]:
# определяем результат
result = pd.DataFrame({'Gender':[1,0,1,0,1,0,0,1,1,0,1,1] })
result

    Gender
0        1
1        0
2        1
3        0
4        1
5        0
6        0
7        1
8        1
9        0
10       1
11       1

In [16]:
# подготоавливаем функцию для вывода
def tree_graph_to_png(tree, feature_names, png_file_to_save):
    tree_str = export_graphviz(tree, feature_names=feature_names, 
                                     filled=True, out_file=None)
    graph = pydotplus.graph_from_dot_data(tree_str)  
    graph.write_png(png_file_to_save)

In [24]:
# обучаем классификатор
dt_classifier = DecisionTreeClassifier(criterion = 'gini')
X = data
Y = result

dt_classifier.fit(X, Y)

tree_graph_to_png(dt_classifier, feature_names=['P_Movies','salary'],
                  png_file_to_save='gini.png')

In [22]:
# строим прогноз
d = np.array([[7,75]])
dt_classifier.predict(d)

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])

In [23]:
# обучаем классификатор
dt_classifier = DecisionTreeClassifier(criterion = 'entropy')
X = data
Y = result

dt_classifier.fit(X, Y)

tree_graph_to_png(dt_classifier, feature_names=['P_Movies','salary'],
                  png_file_to_save='entropy.png')

In [25]:
# обучаем классификатор
dt_classifier = DecisionTreeClassifier(criterion = 'log_loss')
X = data
Y = result

dt_classifier.fit(X, Y)

tree_graph_to_png(dt_classifier, feature_names=['P_Movies','salary'],
                  png_file_to_save='log_loss.png')